---

---

<div class="w-full flex flex-col px-10 pb-20 items-center justify-center">
  <div class="flex flex-col gap-5 justify-center items-center">
    <button
      class="border-2 border-[#CFD5DE] py-2 px-3 rounded-xl font-semibold text-xs text-[#697586] pricebtn"
    >
      Pricing
    </button>

    <h2 class="text-4xl font-semibold text-[#212F40] mt-2">
      Flexible Pricing, built for growth
    </h2>
  </div>

  <div
    class="flex my-10 font-semibold text-sm gap-5 border bg-gray-100 border-[#e3e3e7] rounded-3xl justify-center items-center pl-5"
  >
    <p class="text-[#697586]">Monthly</p>
    <p
      class="bg-white flex items-center gap-2 border text-[#1B91F0] border-[#e3e3e7] rounded-3xl py-2 px-4"
    >
      Yearly
      <span class="bg-red-200 p-1 px-2 text-red-600 rounded-2xl">Save 20%</span>
    </p>
  </div>

  <div>
    <div class="grid grid-cols-4 gap-6">
      <div class="p-5 flex flex-col gap-1 border-2 border-[#E3E8EF] rounded-2xl">
        <div
          class="border border-gray-500 bg-white p-2 rounded-3xl w-10 flex justify-center items-center"
        >
          <svg
            width="19"
            height="19"
            viewBox="0 0 21 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.813 9.88589L10.3169 17.3086L2.82081 9.88589C2.32637 9.40484 1.93691 8.82666 1.67695 8.18773C1.41699 7.54881 1.29216 6.86299 1.31033 6.17347C1.32849 5.48394 1.48926 4.80564 1.7825 4.18129C2.07574 3.55694 2.49511 3.00005 3.01419 2.5457C3.53327 2.09135 4.14083 1.74938 4.79859 1.54132C5.45636 1.33326 6.15009 1.26362 6.83609 1.33678C7.5221 1.40995 8.18553 1.62433 8.78459 1.96644C9.38366 2.30854 9.90538 2.77096 10.3169 3.32456C10.7302 2.77498 11.2526 2.3166 11.8512 1.97813C12.4499 1.63965 13.112 1.42837 13.7961 1.35749C14.4801 1.28661 15.1715 1.35766 15.8268 1.56621C16.4822 1.77475 17.0874 2.1163 17.6047 2.56947C18.122 3.02263 18.5401 3.57767 18.8329 4.19983C19.1258 4.822 19.287 5.4979 19.3066 6.18523C19.3261 6.87257 19.2036 7.55654 18.9466 8.19434C18.6896 8.83215 18.3037 9.41005 17.813 9.89188"
              stroke="#F17878"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>

        <h3 class="text-xl font-bold text-[#212F40] mt-1">Free</h3>
        <p class="text-[#697586] text-sm m-0 w-10/12">
          To grow referrals and leads of business looking
        </p>
        <p class="font-bold text-3xl mt-4 mb-2">
          $0 <span class="text-[#697586] text-sm font-normal"> /month</span>
        </p>

        <button
          class="border-2 border-[#1B91F0] py-2 mt-2 px-5 rounded-xl font-semibold text-[#1B91F0]"
          >Get Started for Free</button
        >

        <div class="flex flex-col gap-2 mt-5">
          <h4 class="text-[#697586] font-semibold">Features</h4>

          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Data Sources: Up to 3 Accounts
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 Workspace
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 User
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Analytics Dashboard
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Google Add-on
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Reporting
          </p>
        </div>
      </div>
      <div class="p-5 flex flex-col gap-1 border-2 border-[#E3E8EF] rounded-2xl">
        <div
          class="border border-gray-500 bg-white p-2 rounded-3xl w-10 flex justify-center items-center"
        >
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_3492)">
          <path d="M4.25009 13.25C6.03318 13.4619 7.69314 14.2675 8.96285 15.5372C10.2326 16.807 11.0382 18.4669 11.2501 20.25C12.134 19.7404 12.8734 19.0138 13.3983 18.1389C13.9233 17.264 14.2164 16.2697 14.2501 15.25C15.9292 14.6593 17.3955 13.584 18.4634 12.16C19.5314 10.736 20.1532 9.02734 20.2501 7.25C20.2501 6.45435 19.934 5.69129 19.3714 5.12868C18.8088 4.56607 18.0457 4.25 17.2501 4.25C15.4728 4.34691 13.7641 4.96867 12.3401 6.03665C10.9161 7.10464 9.84078 8.57089 9.25009 10.25C8.23035 10.2837 7.23605 10.5768 6.36116 11.1018C5.48626 11.6267 4.75968 12.3661 4.25009 13.25Z" stroke="#1B91F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.2495 14.25C6.20873 14.8376 5.36716 15.7226 4.83266 16.7916C4.29816 17.8606 4.0951 19.0648 4.2495 20.25C5.43466 20.4044 6.63893 20.2013 7.70793 19.6668C8.77692 19.1323 9.66193 18.2908 10.2495 17.25" stroke="#1B91F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14.2501 9.25C14.2501 9.51522 14.3554 9.76957 14.543 9.95711C14.7305 10.1446 14.9849 10.25 15.2501 10.25C15.5153 10.25 15.7697 10.1446 15.9572 9.95711C16.1447 9.76957 16.2501 9.51522 16.2501 9.25C16.2501 8.98478 16.1447 8.73043 15.9572 8.54289C15.7697 8.35536 15.5153 8.25 15.2501 8.25C14.9849 8.25 14.7305 8.35536 14.543 8.54289C14.3554 8.73043 14.2501 8.98478 14.2501 9.25Z" stroke="#1B91F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_1_3492">
          <rect width="24" height="24" fill="white" transform="translate(0.25 0.25)"/>
          </clipPath>
          </defs>
          </svg>
          
        </div>

        <h3 class="text-xl font-bold text-[#212F40] mt-1">Starter</h3>
        <p class="text-[#697586] text-sm m-0 w-10/12">
          To grow referrals and leads of business looking
        </p>
        <p class="font-bold text-3xl mt-4 mb-2">
          $19 <span class="text-[#697586] text-sm font-normal"> /month</span>
        </p>

        <button
          class="border-2 border-[#1B91F0] py-2 mt-2 px-5 rounded-xl font-semibold text-white bg-[#1B91F0]"
          >Get Starter</button
        >

        <div class="flex flex-col gap-2 mt-5">
          <h4 class="text-[#697586] font-semibold">Features</h4>

          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Data Sources: Up to 3 Accounts
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 Workspace
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 User
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Analytics Dashboard
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Google Add-on
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Reporting
          </p>
        </div>
      </div>
      <div class="p-5 flex flex-col gap-1 border-2 border-[#E3E8EF] rounded-2xl">
        <div
          class="border border-gray-500 bg-white p-2 rounded-3xl w-10 flex justify-center items-center"
        >
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_3564)">
          <path d="M3.25 9.25C3.25 8.71957 3.46071 8.21086 3.83579 7.83579C4.21086 7.46071 4.71957 7.25 5.25 7.25H19.25C19.7804 7.25 20.2891 7.46071 20.6642 7.83579C21.0393 8.21086 21.25 8.71957 21.25 9.25V18.25C21.25 18.7804 21.0393 19.2891 20.6642 19.6642C20.2891 20.0393 19.7804 20.25 19.25 20.25H5.25C4.71957 20.25 4.21086 20.0393 3.83579 19.6642C3.46071 19.2891 3.25 18.7804 3.25 18.25V9.25Z" stroke="#F6B51E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.25 7.25V5.25C8.25 4.71957 8.46071 4.21086 8.83579 3.83579C9.21086 3.46071 9.71957 3.25 10.25 3.25H14.25C14.7804 3.25 15.2891 3.46071 15.6642 3.83579C16.0393 4.21086 16.25 4.71957 16.25 5.25V7.25" stroke="#F6B51E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.25 12.25V12.2578" stroke="#F6B51E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.25 13.25C6.04158 14.6567 9.12403 15.3894 12.25 15.3894C15.376 15.3894 18.4584 14.6567 21.25 13.25" stroke="#F6B51E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_1_3564">
          <rect width="24" height="24" fill="white" transform="translate(0.25 0.25)"/>
          </clipPath>
          </defs>
          </svg>
          
        </div>

        <h3 class="text-xl font-bold text-[#212F40] mt-1">Professional</h3>
        <p class="text-[#697586] text-sm m-0 w-10/12">
          To grow referrals and leads of business looking
        </p>
        <p class="font-bold text-3xl mt-4 mb-2">
          $39 <span class="text-[#697586] text-sm font-normal"> /month</span>
        </p>

        <button
          class="border-2 border-[#1B91F0] py-2 mt-2 px-5 rounded-xl font-semibold text-[#1B91F0]"
          >Get Professional</button
        >

        <div class="flex flex-col gap-2 mt-5">
          <h4 class="text-[#697586] font-semibold">Features</h4>

          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Data Sources: Up to 3 Accounts
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 Workspace
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 User
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Analytics Dashboard
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Google Add-on
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Reporting
          </p>
        </div>
      </div>
      <div class="p-5 flex flex-col gap-1 border-2 border-[#E3E8EF] rounded-2xl">
        <div
          class="border border-gray-500 bg-white p-2 rounded-3xl w-10 flex justify-center items-center"
        >
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_3606)">
          <path d="M4.25012 21.25V6.25C4.25012 5.25 5.25012 4.25 6.25012 4.25H11.2501C12.2501 4.25 13.2501 5.25 13.2501 6.25V21.25" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.2501 8.25H18.2501C19.2501 8.25 20.2501 9.25 20.2501 10.25V21.25" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.25012 21.25H21.2501" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_1_3606">
          <rect width="24" height="24" fill="white" transform="translate(0.25 0.25)"/>
          </clipPath>
          </defs>
          </svg>
          
        </div>

        <h3 class="text-xl font-bold text-[#212F40] mt-1">Team</h3>
        <p class="text-[#697586] text-sm m-0 w-10/12">
          To grow referrals and leads of business looking
        </p>
        <p class="font-bold text-3xl mt-4 mb-2">
          $99 <span class="text-[#697586] text-sm font-normal"> /month</span>
        </p>

        <button
          class="border-2 border-[#1B91F0] py-2 mt-2 px-5 rounded-xl font-semibold text-[#1B91F0]"
          >Get Team</button
        >

        <div class="flex flex-col gap-2 mt-5">
          <h4 class="text-[#697586] font-semibold">Features</h4>

          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Data Sources: Up to 3 Accounts
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 Workspace
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>1 User
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Analytics Dashboard
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Google Add-on
          </p>
          <p class="flex items-center gap-2 text-[#697586]">
            <span
              ><svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6667 1.23047L5.49999 10.3971L1.33333 6.23047"
                  stroke="#F17878"
                  stroke-width="2.46154"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>Reporting
          </p>
        </div>
      </div>
    </div>
  </div>

  <style>
    .pricebtn {
      box-shadow: -1px -3px 2px 2px rgba(0, 0, 0, 0.1);
      letter-spacing: 2px;
    }
  </style>
</div>
