---
import GoogleWorkspace from '../assets/logo-google-workspace.svg';
import WorkSpaceTools from '../assets/WorkSpaceTools.png';
---

<div class="w-full flex flex-col gap-10 justify-center items-center px-10 py-20 border-t-2 bg-gradient-to-b from-[rgba(245,247,250,1)] to-[rgba(255,255,255,1)]">
    <h4 class="text-[#212F40] text-4xl font-bold text-center w-1/3">
        Access all your marketing data without leaving
    </h4>
    <img src={GoogleWorkspace.src} alt="Google Workspace" class="object-contain w-80" />

    <div class="relative w-10/12">
        <img src={WorkSpaceTools.src} alt="Workspace tools" class="object-contain w-full" />
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-white z-10"></div>
    </div>
</div>


<div class="w-full flex gap-5 justify-center items-center px-10 py-3 border border-[#CFD5DE]">
    <h5 class="text-lg text-[#697586]">Looking for <span class="font-semibold text-black">DataStudio</span>?</h5>
    <button class="border-2 border-[#CFD5DE] py-2 px-5 rounded-xl font-semibold">Check it out</button>
</div>